/*Yes...these styles are awful!*/

body {
    background-color: cornflowerblue;
    color: linen;
    text-align: center;
  }
  
  /* button {
    display: block;
    margin: 2em auto;
    width: 200px;
    height: 50px;
  } */